* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#header-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto-fill;
  grid-auto-flow: row;
  background-color: #000000;
  height: 50px;
  width: auto;
  color: #fff;
  text-align: center;
  padding: 10px;
}

a {
  color: #fff;
}

#shopNowAnchor {
  font-weight: 600;
}

#offerDiv {
  grid-column: 2/3;
  display: grid;
  justify-content: center;
  align-items: center;
  font-weight: 400;
}

#offerDiv,
p,
a {
  padding-left: 8px;
}

#langSelectDiv {
  grid-column: 3/4;
  display: grid;
  justify-content: center;
  align-items: center;
}

#langSelectDiv select {
  background: #000000;
  color: #fff;
  font-size: 1.1rem;
  border: none;
}
#header-links-container {
  background-color: #fff;
  color: #000000;
  display: grid;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #000000;
  padding-top: 20px;
  max-height: 80px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  padding: 2rem 1rem 0.6rem 1rem;
}

.header-links {
  color: #000000;
  text-decoration: none;
}

.header-links:hover {
  border-bottom: 1px solid #000000;
}

#links-div {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-auto-flow: row;
}
#links-div li {
  list-style: none;
  display: flex;
  gap: 20px;
}

#links-div li a {
  font-size: 0.95rem;
}

#web-name-div {
  display: grid;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

#web-name-div p {
  font-size: 1.3rem;
}

#item-search-el {
  font-size: 0.7rem;
  width: 150px;
  height: 25px;
  background-color: #e6e6e6;
  border: none;
  text-align: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#item-search-el:focus {
  outline: none;
}

#items-search-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#searchIcon {
  background-color: #e6e6e6;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#searchIcon:hover {
  cursor: pointer;
}

#search-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#carts-div {
  padding-left: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

#carts-div i {
  font-size: 1.3rem;
}

#carts-div i:hover {
  cursor: pointer;
}

@media screen and (max-width: 970px) {
  #header-links-container {
    grid-template-columns: auto 2fr 2fr;
  }
  #header-container {
    height: fit-content;
  }
  #links-div li a {
    font-size: 0.8rem;
  }
}
